<% include ./partials/header %> 
                <% var currentTime = new Date();  %>
                <% var currentOffset = currentTime.getTimezoneOffset(); %>
                <% var ISTOffset = 330;   // IST offset UTC +5:30 %>
                <% var today = new Date(currentTime.getTime() + (ISTOffset + currentOffset)*60000);%>
                <% var hoursIST = today.getHours()%>
                <% var minutesIST = today.getMinutes()%>
                <% var day = today.getDay(); %>
                <% var daylist = ["Sunday","Monday","Tuesday","Wednesday ","Thursday","Friday","Saturday"]; %>
                <% var hour = today.getHours(); %>
                <% var todayWeatherSet ; var found = false ; %>
                <% data.list.forEach( eachSet => { %> 
                        <% if(found == false){ %>
                            <% if(today.toString().slice(8,10) == eachSet.dt_txt.toString().slice(8,10)){ %> 
                                <% if(hour-3 >= eachSet.dt_txt.toString().slice(11,13)){ %> 
                                    
                                <%}else{ %> 
                                    <% todayWeatherSet = eachSet %>    
                                    <% found = true %>
                                <%} %>
                            <%} %>
                        <%} %>
                <% } ) %>
				<div class="forecast-table">
					<div class="container">
						<div class="forecast-container">
							<div class="today forecast">
								<div class="forecast-header">
									<div class="day"> <%= daylist[day] %></div>
									<div class="date"> <%= today.toString().slice(4,11) %> (<%=todayWeatherSet.dt_txt.toString().slice(11,19) %>) </div>
								</div> <!-- .forecast-header -->
								<div class="forecast-content">
									<div class="location"> <%= data.city.name %> </div>
									<div class="degree">
										<div class="num"> <%= (todayWeatherSet.main.temp - 273.15).toFixed(0) %> <sup>o</sup>C</div>
										<div class="forecast-icon">
											<img src="images/icons/icon-1.svg" alt="" width=90>
										</div>	
									</div>
                                    <span><i class="fa fa-tint" aria-hidden="true"></i> <%= todayWeatherSet.main.humidity %>% </span>
									<span><img src="images/icon-wind.png" alt=""> <%= todayWeatherSet.wind.speed %>m/s </span>
                                    <span><img src="images/icon-compass.png" alt=""><%=(todayWeatherSet.weather[0].description) %></span>
                                   
								</div>
                            </div>
                            <% var counter = 1 %>
                            <% data.list.forEach( eachSet => { %> 
                                <% var nextDay = new Date(); %>
                                <% nextDay.setDate(new Date().getDate()+counter); %>
                                <% if(nextDay.toString().slice(8,10) == eachSet.dt_txt.toString().slice(8,10)){ %>
                                    <% if(hour-3 >= eachSet.dt_txt.toString().slice(11,13)){ %>
                                    <%}else{ %> 
                                        <% var day = nextDay.getDay(); %>
                                        <div class="forecast">
                                            <div class="forecast-header">
                                                <div class="day"> <%= daylist[day] %> (<%=eachSet.dt_txt.toString().slice(11,19) %>) </div>
                                            </div> <!-- .forecast-header -->
                                            <div class="forecast-content">
                                                <div class="forecast-icon">
                                                    <img src="images/icons/icon-<%=counter+1%>.svg" alt="" width=48>
                                                </div>
                                                <div class="degree"> <%= (eachSet.main.temp - 273.15).toFixed(0) %> <sup>o</sup>C</div>
                                                <small> <%= (eachSet.main.feels_like - 273.15).toFixed(0) %><sup>o</sup></small>
                                            </div>
                                        </div>
                                        <% counter = counter + 1%>
                                    <%} %>
                                <%} %>
                            <%} ) %>
						</div>
					</div>
				</div>
<% include ./partials/footer %> 